includeConfig 'targeted_strace.config'

params {
    instrumentation      = 'strace'
    strace_enabled       = true
    strace_process_regex = '.*'
    n_windows            = 1500
    queue_size           = 416
}

profiles {
    slurm {
        process.queue = System.getenv('CAMP_SLURM_QUEUE') ?: 'main'
        executor.queueSize = 416
    }
}
