includeConfig 'targeted_ebpf.config'

params {
    instrumentation    = 'ebpf'
    ebpf_enabled       = true
    ebpf_process_regex = '.*'
    ebpf_audit_every_n = 1
    n_windows          = 1500
    queue_size         = 416
}

profiles {
    slurm {
        process.queue = System.getenv('CAMP_SLURM_QUEUE') ?: 'main'
        executor.queueSize = 416
    }
}
